<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n
		</Property>
	</Properties>

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="debugLog"
			fileName="logs/agent-portal-debug-${date:MM-dd-yyyy}.log"
			filePattern="logs/agent-portal-debug-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="infoLog"
			fileName="logs/agent-portal-info-${date:MM-dd-yyyy}.log"
			filePattern="logs/agent-portal-info-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="INFO" maxLevel="INFO"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="errorLog"
			fileName="logs/agent-portal-error-${date:MM-dd-yyyy}.log"
			filePattern="logs/agent-portal-error-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>


	</Appenders>

	<Loggers>

		<Logger name="com.exavalu.agentportal" additivity="false">
			<AppenderRef ref="debugLog" />
			<AppenderRef ref="infoLog" />
			<AppenderRef ref="errorLog" />
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="info">
			<appender-ref ref="Console" />
		</Root>
	</Loggers>

</Configuration>